<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Affichage de commentaires</title>

  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<style>
    li {
  list-style-type: none;
}
</style>
<div id="app">
  <h1>Affichage de commentaires</h1>

  <label for="name">Choisir un nom :</label>
  <select v-model="selectedName" @change="fetchData">
    <option value="">Tous les noms</option>
    <option v-for="name in uniqueNames" :key="name" :value="name">{{ name }}</option>
  </select>

  <ul v-for="item in filteredData" :key="item.id">
    <li> Nom : {{ item.name }}</li>
    <li> Email : {{ item.email }}</li>
    <li> Commentaire : {{ item.body }}</li>
  </ul>
</div>

<script>
var demo = Vue.createApp({
    data() {
    return {
      apiData: [],
      selectedName: '',
    };
  },
  computed: {
    uniqueNames() {
      return [...new Set(this.apiData.map(item => item.name))];
    },
    filteredData() {
      if (!this.selectedName) {
        return this.apiData;
      } else {
        return this.apiData.filter(item => item.name === this.selectedName);
      }
    },
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      try {
        const response = await axios.get('https://jsonplaceholder.typicode.com/comments');
        this.apiData = response.data;
      } catch (error) {
        console.error('Error fetching data:', error);
      }
    },
  },
}).mount('#app');
</script>

</body>
</html>
